<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.0">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TransactionServlet</servlet-name>
        <servlet-class>TransactionValidationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TransactionServlet</servlet-name>
        <url-pattern>/TransactionValidationServlet</url-pattern>
    </servlet-mapping>
</web-app>
